version: "3.8"

services:
  backend:
    image: php:8.2-fpm-alpine
    container_name: app-backend
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    environment:
      - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
    networks:
      - app-network

  # Vue Frontend + Nginx Server
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: app-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
